body {
  margin: 0;
  background-color: #6d6d7e;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: #ffff;
}

.title,
.category {
  outline: none;
  height: 35px;
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: #f0f8fc;
  margin-bottom: 3px;
}

#title,
#category {
  font-size: 1.5rem;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #ffffff;
}

textarea {
  border: none;
  resize: none;
  background-color: #f0f8fc;
  width: 100%;
}

textarea:focus {
  outline: none;
}

.add {
   text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    color: #fff;
    background-color: #28b485;
    cursor: pointer;
    border: none;
}

.add:hover {
  transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #073f2c;
}
.add:hover::after{
transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.add.active{
  transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.note {
  background-color: #ffff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
  color: #f85555;
}
.update-icon {
  cursor: pointer;
  color: #41799b;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  background-color: #ffff;
}

.search input {
  border: none;
  background-color: #ffff;
}

.search input:focus {
  outline: none;
}
h1 {
  font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    animation: moveInLeft;
    animation-duration: 1s;
      animation-timing-function: ease-out;
}
.h1:hover{
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.save{
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    font-size:1.6rem;
    transition: all .2s;
    width: 6rem;
    height: 2rem;
    justify-content: center;
}
.save:hover{
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    border-radius: .3rem;
  
}

